#nav-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--base-color);
    color: var(--text-varient);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0px;
    height: 100dvh;
    width: 50px;
    /* display: none; */
}

.nav-top {
    margin-top: 20px;
}

#nav-component .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--text-varient);
    transition: background-color 0.3s;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    gap: 20px;
    position: relative;
}

.search-icon-container {
    display: flex;
    align-items: center;
    border-radius: 8px 0 0 8px;
    padding: 4px 12px 4px 4px;
    margin-left: 6px;
    z-index: 99999999;
}

.curve-border-style-container {
    z-index: 999;
    height: 25px;
    width: 25px;
    top: 35px;
    position: absolute;
    right: -50px;
    background-color: var(--base-varient);
    /* border-radius: 8px 0 0 8px; */
}

.curve-border-style {
    width: 25px;
    height: 25px;
    display: block;
    background-color: var(--base-color);
    border-top-right-radius: 12px;
    /* border: 12px solid transparent;
    border-left-color: #0f0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    z-index: 999; */
}

.search-box-container {
    position: absolute;
    left: 0px;
    height: 100%;
    max-width: 250px;
}

.search-name-input {
    position: absolute;
    left: 50px;
    height: 100%;
    max-width: 250px;
    width: 250px;
    padding: 0 8px 0 1ch;
    border: none;
    /* border-bottom: 2px solid black; */
    border-radius: 0 8px 0 0;
    outline: none;
    /* outline: 4px solid var(--unique-color); */
    z-index: 99;
    color: var(--text-color);
    background-color: var(--base-varient);
    font-size: 24px;
}

.search-name-input-line {
    width: 240px;
    height: 2px;
    background-color: var(--text-coloA);
    position: absolute;
    z-index: 999999999999;
    display: inline-block;
    left: 55px;
    bottom: 0px;
    /* outline: 2px solid var(--unique-color); */
    /* outline-offset: 2px; */
}

.search-results-box {
    position: absolute;
    top: 36px;
    left: 50px;
    z-index: 99;
    min-width: 250px;
    max-width: 250px;
    color: var(--text-color);
    background-color: var(--base-varient);
    border-radius: 0 0 8px 8px;
    /* height: 25px; */
    /* bottom: calc(-60px); */
}

.search-results-box li {
    list-style: none;
    font-size: 24px;
    padding: 2px 1ch;
    cursor: pointer;
    /* border-bottom:  ; */
}

.search-results-box li:hover {
    background-color: var(--unique-color);
}

.search-results-box li:last-child {
    border-radius: 0 0 8px 8px;
}

.matched-username > * {
    text-decoration: none;
    color: var(--text-color);
}

.nav-items .btnC {
    padding: 6px;
}

.nav-icon {
    cursor: pointer;
    height: 28px;
    width: 28px;
}

.todo-icon {
    height: 40px;
    width: 40px;
}

/* @media screen and (max-width: 425px) { */
/* #nav-component::before {
        width: 28px;
        content: "";
        height: 28px;
        color: var(--text-varient);
        background-image: url(/burger-menu.svg);
        fill: aqua;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
    } */

/* #nav-component { */
/* display: none; */
/* } */
/* } */
