.setting-container {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    width: 100%;
    height: fit-content;
}

.list-title {
    font-size: larger;
    padding: 8px;
}

.todo-default-container {
    width: 600px;
    background: var(--bg);
    border-radius: 8px;
    padding: 32px;
}

.defaults-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    padding-left: 32px;
    width: 500px;
}

.defaults-list * {
    cursor: pointer;
}

.toggle-input {
    position: relative;
    display:flex;
    appearance: none;
}

.toggle-input::before {
    content: "Private       Public";
    white-space: pre;
    text-align: center;
    background-color: var(--bg-light);
    color: var(--text-muted);
    width: fit-content;
    padding-left: 2ch;
    padding-right: 2ch;
    height: 32px;
    line-height: 32px;
    font-size: larger;
    border-radius: 50px;
}

.toggle-input::after {
    content: "Private";
    text-align: center;
    padding-left: 2ch;
    padding-right: 2ch;
    width: fit-content;
    background-color: var(--accent-shade);
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: larger;
    border-radius: 50px;
    position: absolute;
}

.toggle-input:checked::after {
    content: "Public";
    text-align: center;
    padding-left: 2ch;
    padding-right: 2ch;
    width: fit-content;
    background-color: var(--accent-shade);
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: larger;
    border-radius: 50px;
    position: absolute;
    transform: translateX(calc(9ch + 0.9px));
}