/* body {
    background-color: #111;
    color: #eee;
    display: flex;
    align-items: center;
    place-content: center;
}

#heading {
    color: rgb(0, 100, 255);
    text-align: center;
}

.todo-container {
}

.all-todos {
    
}

.todo-div {
    display: flex;
    margin-bottom: 10px;
}

.todo-checkbox {
}

.todo-title {
    background-color: #444;
    color: #bbb;
    list-style-type: none;
    display: inline;
    width: 50vw;
}

.todo-delete {
} */