@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_opsz\wght.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    --base-color: #000;
    --base-varient: #222;
    --text-color: #fff;
    --text-varient: #c0c0c0c0;
    --unique-color: #24a0ed;
    --unique-color-light-1: #8fd3fe;
    --unique-color-light-2: #75d6ff;
    --common-color: #cfd2cd;
}

.light {
    --base-color: #fff;
    --base-varient: #c0c0c0c0;
    --text-color: #000;
    --text-varient: #222;
    --unique-color: #24a0ed;
    --unique-color-light-1: #8fd3fe;
    --unique-color-light-2: #75d6ff;
    --common-color: #333;
}