#landing-page-container {
    display: flex;
    height: 100vh;
    position: relative;
}

#landing-page-left {
    width: 70vw;
    position: relative;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#landing-page-left h1 {
    font-size: 6.8vw;
    font-family: caveat;
    color: var(--text-color);
}

#landing-page-left p {
    font-size: 3.5vw;
    /* font-family: Poppins; */
    color: var(--text-varient);
}

#landing-page-left span {
    color: var(--text-varient);
    font-family: inter;
    /* padding-left: 5%; */
}

#landing-page-right {
    width: 30vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.landing-page-auth-btn {
    padding: 10px;
    width: 50%;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    font-family: Montserrat;
    background-color: var(--text-color);
    color: var(--base-color);
}

.auth-form-bg {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    place-content: center;
    align-self: flex-end;
    background-color: var(--base-varient);
}

.auth-form-container {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4vh 4vw;
    border-radius: 20px;
    background-color: var(--base-color);
    color: var(--text-color);
    height: fit-content;
}

.auth-input {
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 20px;
    background: var(--base-color);
    color: var(--text-color);
    border: none;
    border-bottom: 2px solid var(--text-color);
    font-size: 1.1rem;
}

.auth-input::placeholder {
    padding: 4px 0;
    margin-bottom: 5px;
}
.auth-input:focus {
    outline: none;
}

.auth-label {
    align-self: flex-start;
    font-weight: 500;
    font-family: Poppins;
}

.auth-form-submit-btn {
    width: 70%;
    padding: 8px 0px;
    margin-top: 10px;
    border-radius: 2em;
    border: none;
    margin-bottom: 10px;
    font-family: Poppins;
    background-color: var(--unique-color);
    color: var(--text-color);
}

.ErrorInValidatingAuth {
    color: red;
}

@media screen and (max-width: 800px) {
    #app-root-container {
        position: relative;
        background-color: var(--base-color);
        color: var(--text-color);
    }

    #landing-page-container {
        display: flex;
        flex-direction: column;
    }

    #landing-page-left {
        height: 70%;
        width: 100%;
        padding: 5%;
        display: flex;
        justify-content: flex-start;
        padding-top: 40%;
        flex-direction: column;
        gap: 3rem;
    }

    #landing-page-right {
        height: 0%;
        width: 100%;
        gap: 16px;
    }

    #landing-page-left h1 {
        font-size: 12vw;
    }

    #landing-page-left p {
        font-size: 6vw;
    }

    .auth-form-bg {
        margin-top: -40vh;
    }

    .auth-form-container {
        padding: 4vh 8vw;
    }
}