#todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    position: relative;
    /* min-width: 50vw; */
}

.horizontal-nav {
    width: 100%;
    /* height: 50px; */
}

.nav-right {
    position: relative;
    padding: 4px;
    justify-self: right;
    display: flex;
}

#create-show-all-todo-container {
    width: 50vw;
}

.create-todo-container {
    display: flex;
    align-items: stretch;
    gap: 4px;
    /* position: relative; */
}

#create-todo-title {
    border-radius: 8px 0 0 8px;
    background-color: var(--base-varient);
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 8px 20px;
}

#create-todo-title::placeholder {
    color: var(--text-varient);
}

.add-todo {
    background-color: var(--base-varient);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 8px;
    border-radius: 0 8px 8px 0;
}

.all-todos {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.single-todo-container {
    display: flex;
}

.single-todo-container:hover .btnR :first-child {
    color: var(--text-varient);
}

.todo-checkbox {
    cursor: pointer;
    display: none;
}

.todo-checkbox[type="checkbox"]:checked + .todo-title label::after {
    width: 100%;
}

.todo-checkbox[type="checkbox"]:checked + .todo-title {
    color: var(--text-varient);
}

.todo-title {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: var(--text-color);
    width: 50vw;
    padding-left: 10px;
}

.todo-title-text {
    position: relative;
    cursor: text;
    font-family: Poppins;
}

.todo-title-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    background-color: currentColor;
    width: 0;
    transition: width 0.5s ease-in-out;
}

.todo-more-btn {
    position: relative;
    padding: 0px !important;
    max-width: 100%;
}

.todo-more-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--base-varient);
    padding: 4px;
    gap: 4px;
    width: 150px;
    max-width: 150px;
    border-radius: 4px;
}

.todo-more-container button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    background-color: var(--base-varient);
    border-radius: 4px;
}

.todo-more-container button *  {
    color: var(--text-varient) !important;
}

.todo-more-container button p {
    white-space: nowrap;
    max-width: 100%;
}

.todo-more-container button:hover {
    background-color: var(--base-color);
}

.todo-more-container button:hover input{
    background-color: var(--base-color) !important;
}

.todo-tag-input {
    background-color: var(--base-varient);
    border: none;
    max-width: 100%;
    outline: none;
    color: var(--text-color);
    font-size: 1.1rem;
}

.todo-tag-btn:hover input {
    background-color: var(--base-varient) !important;
}
